<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Make site responsive on mobile/tablet -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title id = "title">Thrifty Bank</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top-1" style="background-color: rgb(13, 33, 67);">
        <div class = "container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
              Thrifty
          </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class = "nav navbar-nav navbar-right">
                    
                    <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top-2" style="background-color: rgb(13, 33, 67);">
        <div class = "container">
            <div>
              <p class = "navbar-text">Taking Banking Technology to common man. Your Tech-friendly Bank!</p>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class = "nav navbar-nav navbar-right">
                  <% if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apply">Apply Now</a>
                    </li>
                  <% }else{ %>
                    <li class = "nav-item">
                      <a class = "nav-link">Signed in as: <%= currentUser.username %></a>
                    </li>
                    <li class = "nav-item">
                      <a href = "/viewbalance" class = "nav-link">View Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                  <% } %>  
                </ul>
            </div>
        </div>
    </nav>


    <nav class="navbar navbar-expand-lg navbar-dark fixed-top-3" style="background-color: rgb(23, 68, 125);">
        <div class = "container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/landing">Home <span class="sr-only">(current)</span></a>
                </li>
                <% if(currentUser){ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/moneytransfer/<%= currentUser._id %>">Money Transfer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/request/<%= currentUser._id %>">Request Money</a>
                  </li>
                <% }else{ %>  
                <% } %>  
                <li class="nav-item">
                  <a class="nav-link" href="/fd">Fixed Deposit</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/hloan" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Loans
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/hloan">Home Loan</a>
                    <a class="dropdown-item" href="/edloan">Education Loan</a>
                  </div>
                </li>
              </ul>
            </div>
        </div>
    </nav>

    <div class="container">
      <% if(error && error.length > 0) { %>
        <div class = "alert alert-danger" role = "alert">
          <%= error %>
        </div>
        <% } %>
      <% if(success && success.length > 0) { %>
        <div class = "alert alert-success" role = "alert">
          <%= success %>
        </div>
        <% } %>
    </div>
    
    

 <style>
        body{
            /* background-color: black; */
      background: rgb(16, 33, 65);

        
            padding-top: 105px;
        }
        
        .fixed-top-1 {
            /* margin-top: 60px; */
            z-index: 2;
        }
        .fixed-top-2 {
            /* margin-top: 60px; */
            margin-top: 67px;
            z-index: 1;
        }
        .fixed-top-3 {
            margin-top: 17px;
            z-index: 1;
        }
        
        #carouselExampleCaptions.carousel.slide {
            width: 800px; 
            /* height: 600px; */
        }
        
        #landinginfo{
            border: 2em;
            background-color: rgb(23, 68, 125);
            color: white;
        }
        
        #scrollLink{
            color: white;
            padding-right: 80px;
        }
        
        .navbar-brand{
            font-size: 35px;
        }
        
        #footer{
            background: rgb(16, 33, 65);
        }
        
        #level1{
            padding-top: 20px;
        }
        #level2{
            padding-top: 20px;
        }
        
        
        
    body{
  }
</style>
<!-- <div class = "container">
    <div id = "bj" class="jumbotron my-5 mx-5">
        <div class="container">
          <p class="lead">Account Name: <%= currentUser.first_name %> <%= currentUser.last_name %></p>      
          <h1 class="display-4">Current balance:</h1>
          <h1 class="display-4"> ₹<%= currentUser.account_balance %></h1>
          <p class="lead">for the account number <%= currentUser.account_number %></p>
        </div>
    </div>
</div> -->


<div class = "container mt-4 pt-2">
        
 
                <% request.forEach(function(dat) { %>
        
              <div id = "bj"class="card w-75 mb-3">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted"><%= moment(dat.createdAt).format('LLLL') %></small></p>
                        <h5 class="card-title display-4">₹<%= dat.amount %></h5>
                        <h5 class="card-text float-left">Sender: <%= dat.sender %></h5>
                        <div class = "float-right">
                            <h5 class="card-text">Receiver: <%= dat.receiver %> <%= dat.receiver_lastname %></h5>  
                            <h6>Account Number: <%= dat.receiver_account_number %> </h6> 
                            <h6>TUC: <%= dat.unique %></h6>
                        </div>
                                            
                    </div>
                </div>
                <% }); %>


            
    

</div>
  
<% include ../partials/footer.ejs  %>